.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0 0 0 0;
}

.reveal section img {
    margin-top:    30px;
    margin-bottom: 30px;
    margin-right:  30px;
    margin-left:   30px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.0);
    border: 0;
}

.reveal blockquote {
    background: #f0f0f0;
    border-left: 10px solid #ccc;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    margin-top:    1.2em;
    margin-bottom: 1.2em;
    margin-right:  0;
    margin-left:   75px;
    padding: 0 1em;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: justify;
    text-justify: inter-word;
}

.reveal li {
    text-align: left;
}
.reveal ul {
    display: block;
}
.reveal ol {
    display: block;
}

.reveal pre code {
  margin-top:    0;
  margin-bottom: 0;
  margin-right:  0;
  margin-left:   0;
  background: #f0f0f0;
  border-left: 10px solid #ccc;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
  font-size: 16px;
  line-height: 1.3;
  display: block;
  padding: 0.2em 1em;
  overflow: auto;
  max-height: 250px;
  word-wrap: normal; }
